n8n-workflows/IMPORT_THIS_WORKFLOW.json
{
  "name": "Telegram Broadcast - Zero Cost",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-broadcast",
        "responseMode": "lastNode"
      },
      "id": "82c7aff3-17b3-4487-8e9c-7b6f9b5d4321",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "telegram-broadcast-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Format message for Telegram - zero LLM cost!\nconst title = $input.first().json.title || 'Update';\nconst text = $input.first().json.text || '';\nconst url = $input.first().json.url || '';\n\n// Create formatted message\nlet message = `📢 *${title}*\\n\\n${text}`;\n\nif (url) {\n  message += `\\n\\n🔗 [Source](${url})`;\n}\n\n// Send to your DM only (for testing)\nreturn [{\n  chatId: '425347269',\n  message: message\n}];"
      },
      "id": "f8d3c2a1-9b7e-4f56-8c12-3d4e5f6a7890",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-5e6f-7890-1234-567890abcdef",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "✅ Success!"
            },
            {
              "name": "cost",
              "value": "$0.00 (was $0.25)"
            }
          ]
        }
      },
      "id": "response-node-1234",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "import-ready",
  "id": "telegram-broadcast-import"
}